= simple_form_for offer, url: path, html: { class: 'form-horizontal' } do |f|
  = f.hidden_field :user_id, value: current_user.id
  .form-group
    = f.input :message, input_html: { class: 'form-control' }
  .form-group
    = f.submit class: 'btn btn-primary'
