.page-header
  = link_to request_path(offer.request), :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1 Editing offer

= render 'form', offer: offer, path: offer_path(offer)
