.page-header
  = link_to requests_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1 New offer

= render 'form', offer: offer, path: request_offers_path(request_object)
